<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jaytorian.voyager" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Voyager2</name>
    <description>
        A basic employee directory - experimental application
    </description>
    <author email="jaytorian@gmail.com" href="http://cordova.io">
        Jay Torian
    </author>
    <content src="index.html" />
    <access origin="*" />
    <!-- set to prevent iOS from scrolling header -->
    <preference name="DisallowOverscroll" value="true" />
    <!-- set phonegap preferences -->    
    <preference name="phonegap-version" value="3.0.0" />
    <!-- include plugins -->
    <gap:plugin name="org.apache.cordova.core.console" />    
    <gap:plugin name="org.apache.cordova.core.camera" />
    <gap:plugin name="org.apache.cordova.core.contacts" />
    <gap:plugin name="org.apache.cordova.core.device" />        
	 <gap:plugin name="org.apache.cordova.core.geolocation" />
	 <gap:plugin name="org.apache.cordova.core.dialogs" />
</widget>
